#character {
  display: flex;
  flex-direction: column;
  flex: 1;
  background: lighten(orangered, 45%);

  .infos {
    flex: 8;
    display: flex;

    .ancients {
      display: flex;
      flex: 1;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      height: 80%;
      align-self: center;

      .ancient {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        height: 40px;
        width: 40px;
      }
    }

    .box {
      flex: 1 0 100px;
      max-width: 100px;
      border: 3px solid black;
      height: 100px;
      align-self: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 55px;
    }

    .pinyin {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 30px;
    }
  }

  .description {
    flex: 2;
    align-self: center;
    width: 80%;
    display: flex;
    align-items: center;
  }

  .words {
    flex: 5;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;

    div {
      flex: 1;
      display: flex;
      align-items: center;
      font-size: 20px;
    }
  }
}
