.alert {
  position: fixed;
  text-align: center;
  width: 60%;
  margin-top: -57px;
  margin-left: 350px;
  margin-right: 300px;
  z-index: 102; /* Semantic-ui fixed navbar is 101 */
}

#login-error {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  z-index: 1;
}
