// Base/root styles
//-----------------

body {
  display: block;
  font-family: sans-serif;
  overflow: hidden;
}

#app {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.center {
  text-align: center;
}

h2 {
  text-align: center;
  height: 50px;
  padding-top: 7px;
}

#navbar {
  margin-bottom: 0px;
}
