/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  display: block;
  font-family: sans-serif;
  overflow: hidden; }

#app {
  height: 100%;
  margin-top: 59px; }

.center {
  text-align: center; }

h2 {
  text-align: center;
  height: 50px;
  padding-top: 7px; }

#login-form, #signup-form {
  padding-top: 50px; }

.alert {
  position: fixed;
  text-align: center;
  width: 60%;
  margin-top: -57px;
  margin-left: 350px;
  margin-right: 300px;
  z-index: 102;
  /* Semantic-ui fixed navbar is 101 */ }

#login-error {
  position: relative;
  width: 100%;
  text-align: center;
  margin: 0;
  z-index: 1; }

#home-screen {
  padding-top: 40px;
  height: 100%;
  width: 100%;
  text-align: center; }

#home-logo {
  animation: scaly 5000ms ease-in-out 0ms infinite; }

@keyframes scaly {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.1); } }

#greetings {
  margin-left: auto;
  margin-right: auto;
  font-size: 40px; }

#get-started-btn {
  margin-top: 20px; }
