#main-content {
  flex: 0 0 50%;
  align-self: center;
  height: 95%;
  background: lighten(orange, 30%);
  border: 3px solid black;
  display: flex;
  flex-direction: column;

  .segment {
    height: 100%;
  }
}
